@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-content: linear-gradient(180deg, rgba(29, 82, 91, 1) 1%, rgba(28, 45, 22, 1) 30%, rgba(16, 20, 18, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: sans-serif, Helvetica, Arial;
}

.grid-template-areas {
    grid-template-areas:
        "sidenav content"
        "player player"
    ;
}

.side-nav {
    grid-area: sidenav;
}

.content {
    grid-area: content;
    background: rgb(73, 146, 157);
    background: var(--bg-content);
}

.player {
    grid-area: player;
}